<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="keywords" content="tienda,ropa" />
        <meta name="description" content="tienda de ropa" />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/rippleui@1.12.1/dist/css/styles.css" />
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    </head>
    <body class="h-[100vh] flex flex-col m-0">
        {% include "components/navbar.twig" %}
        {% block content %}
        {% endblock content %}
        {% include "components/footer.twig" %}
    </body>
</html>
