{% extends "layouts/public_layout.twig" %}
{% block content %}
    <section class="flex flex-col sm:flex-row">
        {% include "components/product_gallery.twig" %}
        {% include "components/article_details.twig" %}
    </section>
{% endblock content %}
