{% extends "layouts/public_layout.twig" %}
{% block content %}
	<main class="flex flex-1 flex-col">
		{% include 'components/hero.twig' %}
		{% include "components/article_banner.twig" %}


	</main>


{% endblock %}
