<input class="modal-state" id="modal-create-directions" type="checkbox"/>
<div class="modal">
	<label class="modal-overlay" for="modal-create-directions"></label>
	<div class="modal-content flex w-full flex-col gap-5 p-7">
		<label for="modal-create-directions" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</label>
		<div class="flex flex-col gap-2">
			<h2 class="text-center text-2xl font-semibold">Sign In</h2>
			<p class="mx-auto max-w-xs text-sm text-content2">Sign in to your account to continue.</p>
		</div>

		<section>
			{# CONTENIDO MODAL #}
			<form action="{{padre}}directions/create" method="post" id="form-create-dirs" class="flex flex-col m-10">
				<input type="hidden" name="Codigo">

				<label for="Direccion">
					Direccion:
				</label>
				<input type="text" name="Direccion" id="Direccion" class="input my-5 ">
				<label for="Cp">
					Cp:
				</label>
				<input type="text" name="Cp" id="Cp" class="input my-5" maxlength="5">
				<label for="Direccion">
					Provincia:
				</label>
				<input type="text" name="Provincia" id="Provincia" class="input my-5">
				<button class="btn btn-primary">
					Save
				</button>

			</form>
		</section>
	</div>
</div>
