<input class="modal-state" id="delete_users" type="checkbox"/>
<div class="modal">
	<label class="modal-overlay" for="delete_users"></label>
	<div class="modal-content flex flex-col gap-5">
		<label for="delete_users" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</label>
		<h2 class="text-xl">Eliminar Usuario</h2>
		<span>Seguro que deseas eliminar este Usuario?</span>
		<div class="flex gap-3">
			<button class="btn btn-error btn-block btn-erase-users">Aceptar</button>

			<button class="btn btn-block cancel-erase-users">Cancelar</button>
		</div>
	</div>
</div>
