<input class="modal-state" id="delete-dirs" type="checkbox"/>
<div class="modal">
	<label class="modal-overlay" for="delete-dirs"></label>
	<div class="modal-content flex flex-col gap-5">
		<label for="delete-dirs" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</label>
		<h2 class="text-xl">Eliminar direccion.</h2>
		<span>Seguro que deseas eliminar esta dirección?</span>
		<div class="flex gap-3">
			<button class="btn btn-error btn-block btn-erase-dirs">Aceptar</button>

			<button class="btn btn-block cancel-erase-dirs">Cancelar</button>
		</div>
	</div>
</div>
